/*
*  Import
*/
@import "common.css";
@import "header.css";
@import "main.css";

/*
*  Reset
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
*  Variables
*/ 
:root {
    --c-blu: #0084fd;
    --c-violet: #9792e4;
    --c-orange: #fdc15f;
    --c-text: #546e7f;
}